.about__container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.about__container-top {
  display: flex;
}
.about__top-info {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin-left: 3rem;
}
.about__top-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}
.about__top-head h1 {
  color: #2b788b;

  font-size: 35px;
  margin: 2rem 0rem;
  margin-top: 5rem;
}
.about__top-head p {
  font-size: 20px;
  font-weight: 600;
}

.about__top-tail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}
.about__top-tail h3 {
  color: #2b788b;
  font-size: 25px;

  margin-top: 2rem;
}
.about__top-tail p {
  margin-top: 2rem;
  font-size: 16px;
  font-weight: 600;

  margin-right: 7rem;
}

.about-img {
  display: block;
  margin-right: 3rem;
}
.container-bottom-div img {
  height: 150px;
  width: 150px;
  border-radius: 80%;
  margin-top: 4rem;
  margin-bottom: 1rem;
}
.about__container-bottom {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.container-bottom-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-bottom-div h3 {
  font-size: 19px;
  font-weight: 600;
}
.container-bottom-div p {
  font-size: 14px;
  margin-left: 1rem;
}

@media screen and (max-width: 1150px) {
  .about__container-top {
    flex-direction: row;
  }
  .about-img {
    display: none;
  }
  .about__container-bottom {
    flex-direction: column;
  }
  /* .about__top-tail h3,
  .about__top-tail p {
    margin-left: 5rem;
  } */
}
