.form__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  max-width: 420px;
  margin: 50px auto;
}

.feedback-input {
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #2b788ba2;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 30px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid #2b788ba2;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  width: 100%;
  background: #2b788ba2;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}
[type="submit"]:hover {
  background: #2e8196d4;
}
@media screen and (max-width: 1100px) {
  .form__container {
    flex-direction: column;
  }
  form {
    margin: 0 1rem;
  }
  .form__container img {
    height: 300px;
  }
}
