/* .nav {
    display:flex;
    width: 100%;
    height: 75px;
    background: linear-gradient(.25turn,rgb(71, 147, 201), rgb(13, 68, 147));  ;
    align-items: center;
}

.logo {
    height: 100%;
    padding: 5px;
}
.img{
    height:100%;
    padding: 10px;
}
h1{
    color:white;
    font-size: 25px;
} */

.sc__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2rem 0;

  padding-left: 3rem;
}

.sc__navbar-links {
  display: flex;

  align-items: center;
}

.sc__navbar-links_logo {
  margin-right: 2rem;
}

.sc__navbar-links_container {
  display: flex;
  text-align: center;
  margin-left: 5rem;
  flex-direction: row;
}

a {
  color: unset;
  text-decoration: none;
  margin: 0 2rem;
}
ul {
  list-style-type: none;
  display: flex;
  margin-left: 5rem;
  flex-direction: row;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.nav-nav {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.nav-nav li {
  font-size: 1.2rem;
  text-align: center;
  padding: 0.5rem;
  margin: 0.5rem;
}
.sc__navbar-sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.sc__navbar-links_container p,
.sc__navbar-sign p,
.sc__navbar-menu_container li {
  color: rgb(0, 0, 0);

  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;
  text-align: center;

  margin: 0 1.5rem;
  cursor: pointer;
}
.sc__navbar-links_container a:hover,
.navbar__login:hover {
  color: #2b788ba2;
}
.sc__navbar-sign button,
.sc__navbar-menu_container button {
  padding: 0.5rem 1rem;
  margin-right: 3rem;
  color: #fff;
  background: #2b788b;

  font-weight: 800;
  font-size: 16px;
  line-height: 25px;
  border-radius: 5px;
  border: 0;
  outline: none;
  cursor: pointer;
}

.sc__navbar-menu {
  margin-left: 1rem;
  display: none;
  position: relative;
}

.sc__navbar-menu svg {
  color: black;
  cursor: pointer;
}

.sc__navbar-menu_container {
  display: flex;
  justify-content: center;

  width: 500px;
  height: 100vh;
  padding: 1rem;
  background-color: rgb(245, 245, 245);

  text-align: end;

  padding: 2rem;
  position: absolute;
  top: 40px;
  right: 0;
  margin-top: 1rem;
  min-width: 210px;
  border-radius: 5px;
}
.nav-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sc__navbar-menu-container p a {
  margin: 2rem 0;
  font-size: 18px;
}
.sc__navbar-menu-container-links-sign {
  display: none;
}
.sc__navbar-menu-container-links-sign p {
  display: none;
}
.sc__navbar-sign:hover {
  color: #2b788b;
}
.sc__navbar-sign button:hover {
  background-color: #2b788ba2;
}

@media screen and (max-width: 1224px) {
  .sc__navbar-links_container {
    display: none;
  }
  .sc__navbar-menu {
    display: flex;
  }
  .sc__navbar {
    padding: 2rem;
  }
  .sc__navbar-sign {
    display: none;
  }
  .sc__navbar-links_container p,
  .sc__navbar-sign p,
  .sc__navbar-menu_container p {
    color: rgb(0, 0, 0);

    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    text-transform: capitalize;
    text-align: center;

    margin: 2rem 0rem;
    cursor: pointer;
  }

  .sc__navbar-menu_container-links-sign {
    margin-top: 7rem;
  }
  .sc__navbar-menu_container-links-sign p {
    color: #2b788b;
  }
  .sc__navbar-menu_container-links-sign:hover {
    color: black;
  }

  .sc__navbar-sign button,
  .sc__navbar-menu_container button {
    padding: 1rem 2rem;
    margin-right: 2rem;
    font-size: 20px;
    border-radius: 5px;
  }
  .sc__navbar-menu_container button:hover {
    background-color: #2b788ba2;
  }
  .c__navbar-menu_container-links a:hover {
    color: #2b788ba2;
  }
}
@media screen and (max-width: 700px) {
  .sc__navbar {
    padding: 2rem 4rem;
  }
}
@media screen and (max-width: 500px) {
  .sc__navbar {
    padding: 2rem;
  }
  .sc__navbar-sign {
    display: none;
  }
  .sc__navbar-menu_container {
    top: 20px;
  }
  .sc__navbar-menu_container-links-sign {
    display: block;
  }
}
