.userform-container {
    width: 400px;
    display:flex;
    justify-content: center;
    margin:5% auto;
    border:1px solid rgb(182, 181, 181);;
    border-radius: 5px;
    box-shadow: 1px 1px;
}

.userInfoForm {
    text-align: start;
    display:block;
    padding:10px;
}

.userInfoForm input{
    border-top:0;
    border-left:0 ;
    border-right:0;
    border-width: 1px;
    width:350px;
    height:30px;
    padding:10px;
    background-color: aliceblue;
    margin:10px auto
}

.label::after{
    content:" *";
    width:12px;
    color: red;
    
}

@media only screen and (max-width:400px) {
    .userform-container {
        padding: 10px;
        max-width: 95%;
    }
}